* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0
}

body {
    color: #fff;
    text-align: left;
    font-family: Montserrat, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 320px;
    background-color: #f6f6f9
}

#title, .column_buttons, .header, .header_image, .header_pages, .related_title, .star_rate, .thanksBlock, .votes {
    text-align: center
}

h1, h2, h3 {
    text-transform: none;
    margin: 0
}

#main_title > h1, .cat_desc > h1, .header_image a, .header_link > a, .post_content_related {
    text-transform: uppercase
}

.header, .logo {
    margin: auto !important
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    display: block;
    padding: 25px;
    background: 0 0;
    border: none !important;
    border-radius: 0 !important
}

#toTop, .fixed {
    position: fixed
}

.logo {
    /*width: 168px;*/
    width: 185px;
    height: 40px;
    padding: 12px !important;
    background: url(/images/logoWhite.png) center no-repeat;
    /*background: url(/images/logo_white_xmas.png) center no-repeat;*/
    float: left;
    display: inline-block
}

.hide_on_large {
    display: none
}

.header_link {
    float: right;
    display: inline-block;
    padding-top: 12px
}

.header_link > a {
    text-decoration: none;
    color: #fff !important;
    font-size: 12px;
    font-weight: 700;
    padding: 15px
}

.fixed {
    top: 0;
    background-color: #fff;
    transition-duration: 2s
}

.fixed .header_link a {
    color: #333 !important
}

.header_link > a:hover {
    color: #ff0834 !important;
}

.fixed .header_link a:hover {
    color: #ff0834 !important;
}

#disqus_thread {
    position: relative;
    float: none;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 650px;
}

#disqus_thread:after {
    content: "";
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #f6f6f9;
}

.fixed .logo {
    background: url(/images/logo.png) center no-repeat
    /*background: url(/images/logo_xmas.png) center no-repeat*/
}

.header_image {
    margin: auto;
    color: #fff;
    letter-spacing: .11em;
    background: url(/images/1440_main_photo.jpg) no-repeat #fff;
    background-size: cover;
    height: 100%
}

.header_pages {
    top: 0;
    display: block;
    margin: auto !important;
    padding: 20px;
    border: none !important;
    border-radius: 0 !important;
    background-color: #fff
}

.header_pages a {
    color: #333 !important
}

.header_pages .logo {
    background: url(/images/logo.png) center no-repeat
    /*background: url(/images/logo_xmas.png) center no-repeat*/
}

#main_title > h1 {
    width: 100%;
    max-width: 785px;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    padding-top: 100px;
    margin: auto
}

#main_title_text, .cat_desc {
    max-width: 819px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    margin: auto
}

#main_title_text {
    padding-top: 20px
}

.cat_desc > h1 {
    width: 100%;
    max-width: 785px;
    font-size: 30px !important;
    font-weight: 700 !important;
    line-height: 45px !important;
    margin: auto;
    margin-bottom: 20px !important
}

.category_header {
    padding-top: 100px
}

#but_learn {
    margin-top: 25px;
    margin-bottom: 20px
}

.header_image a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 61px;
    width: 235px;
    box-shadow: -6px 4px 14px rgba(0, 0, 0, .5);
    border-radius: 30px;
    background-color: #41b43d;
    display: block;
    margin: auto
}

.header_image a #learnmore {
    display: block;
    padding: 22px 55px
}

.content_main {
    width: 100%;
    padding: 50px;
    margin: auto;
    color: #333
}

.content_header {
    margin: auto;
    max-width: 940px;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 10px
}

.article_reply {
    margin-bottom: 20px
}

.page_header {
    font-size: 25px;
    margin: 70px auto 20px;
    font-weight: 700;
    max-width: 940px
}

.blog_view, .content_entry {
    line-height: 30px;
    font-size: 14px
}

.first_content_header {
    margin-top: 70px
}

.standalone {
    margin-bottom: 20px
}

.content_entry {
    max-width: 940px;
    margin: auto;
    font-weight: 400;
    padding-bottom: 25px
}

.top_choice {
    background: 0 0;
    z-index: 100;
    display: none;
    position: relative;
    top: 40px;
    left: -20px
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto
}

.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto
}

.left-align {
    text-align: left
}

.right-align {
    text-align: right
}

.center, .center-align {
    text-align: center
}

.left {
    float: left !important
}

.right {
    float: right !important
}

.quiz {
    width: 70px;
    z-index: 100;
    left: 10px;
    position: relative;
    -ms-transform: rotate(-17deg); /* IE 9 */
    -webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
    transform: rotate(-17deg);
}

.relatedQuizzes {
    display: block;
    position: fixed;
    width: 25%;
    top: 30%;
    right: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.related_posts_quiz {
    margin: auto;
    display: block;
    padding: 20px 0;
    width: 90%;
}

.authors {
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3);
    padding: 20px;
}

.image_author img {
    border-radius: 10px;
    width: 95%;
}

.author_info {
    font-family: Montserrat, sans-serif !important;
}

.author_info a {
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    font-weight: 700;
}

.author_link a {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    padding-left: 30px;
}

.author_link {
    margin-bottom: 10px;
}

ul {
    list-style-type: none !important
}

ul li:before {
    content: url(/images/ellipse.png);
    width: 10px;
    height: 10px;
    padding-right: 10px
}

.header ul li:before, .header_pages ul li:before {
    content: normal
}

ul li {
    color: #333;
    list-style-type: none !important;
    vertical-align: middle;
    margin-left: 0 !important
}

.container-fluid {
    margin: 0 !important;
    width: 100%
}

#navbar-main {
    margin: auto;
    float: right
}

.blog_view {
    color: #333;
    font-weight: 400
}

::-webkit-input-placeholder {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

:-moz-placeholder {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

::-moz-placeholder {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

:-ms-input-placeholder {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

.form_submit, .post_header_list > h2 {
    font-family: Montserrat, sans-serif
}

.post_comment {
    padding: 0 70px
}

.contact_block {
    margin: 200px auto 0;
    display: block;
    max-width: 940px;
    padding: 0 50px
}

.contact_textblock {
    max-width: 330px;
    width: 100%;
    float: left;
    margin-right: 5%;
    display: block
}

.contact_form {
    display: block;
    max-width: 460px;
    width: 100%;
    float: left;
    margin: auto
}

#contact_submit {
    margin-left: 15px
}

.blog_reply {
    margin: auto;
    max-width: 700px
}

.thanksBlock {
    margin: auto;
    max-width: 90%;
    padding: 60px 60px 100px;
    color: #000;
    font-size: 24px
}

.blog_reply #message_contact, .blog_reply .input_form {
    width: 700px !important
}

.blog_reply .user_name {
    width: 86% !important
}

#message_contact {
    width: 460px;
    height: 179px;
    border-radius: 5px;
    border: 1px solid #dedede;
    background-color: #fff;
    resize: none;
    color: #000;
    padding: 10px 15px;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin-bottom: 15px;
}

#message_contact::placeholder, .user_name::placeholder {
    font-family: 'Montserrat', sans-serif !important;
}

.input_form {
    width: 460px;
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

.input_contact {
    width: 49.5%;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #dedede;
    display: inline-block;
    margin-top: auto;
    background: #fff;
    margin-bottom: 15px
}

.input_icon {
    display: block;
    height: 44px;
    width: 44px;
    margin: auto;
    position: absolute;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12px 14px;
}

.email_icon, .user_name_icon {
    position: absolute;
    width: 16px;
    height: 20px;
    display: block
}

.user_name_icon {
    background: url(/images/comment/your_name.svg) center no-repeat #fff
}

.email_icon {
    background: url(/images/comment/email.svg) center no-repeat #fff
}

.user_name, .user_name_input {
    height: 44px;
    display: inline;
    margin-top: auto
}

.user_name_input {
    margin-left: 46px;
    width: 79%
}

.user_name {
    width: 78.5%;
    padding-left: 5px;
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.article_reply {
    width: 100%;
    display: inline-block
}

#contactus_form, #contactus_form #message_contact, #contactus_form .input_form {
    width: 600px !important
}

#contactus_form {
    display: inline-block;
    margin: auto;
    float: left
}

#contactus_form .user_name {
    width: 84% !important
}

.form_submit {
    margin: 20px auto 50px;
    width: 160px;
    height: 50px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3);
    border-radius: 25px;
    background-color: #2e6fdd;
    color: #fff;
    font-size: 18px
}

.image_wrap, .image_wrap_related {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

#contact_header {
    color: #212121;
    font-size: 36px;
    font-weight: 600;
    line-height: 57px
}

#contact_text {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    max-width: 329px;
    margin-top: 20px
}

.info_par {
    padding-top: 10px
}

.blog_list {
    width: 100%;
    max-width: 780px;
    color: #212121;
    font-size: 35px;
    font-weight: 600;
    line-height: 57px;
    margin: 120px auto
}

.blog_post_small {
    margin-top: 30px;
    width: 780px;
    min-height: 530px;
    padding-bottom: 20px;
    box-shadow: -2px 2px 14px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: #fff;
    display: block
}

.post {
    height: 240px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px
}

.related_posts {
    margin: auto;
    display: block;
    padding: 30px 0;
    width: 70%
}

.related, .related_article {
    width: 31%;
    border-radius: 10px;
    background-color: #fff;
    margin: 30px 3%;
    display: inline-block;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3)
}

.related_title {
    color: #212121;
    font-size: 36px;
    font-weight: 600;
    line-height: 57px
}

.post_content_related {
    color: #ff0834;
    font-size: 10px;
    font-weight: 700;
    line-height: 57px;
    padding: 0 30px;
    position: relative
}

.related {
    height: 390px
}

.related_article {
    height: 220px
}

.related_article .article_header_related {
    padding-top: 0
}

.post_header_list > h2, .post_header_list_related {
    font-size: 19px;
    font-weight: 700;
    line-height: 27px;
    padding: 15px 30px
}

.articles_related {
    display: inline-flex;
    width: 100%;
}

.image_wrap {
    width: 780px;
    height: 240px;
    overflow: hidden;
    position: relative
}

#image_single_article {
    position: absolute;
    height: 100%
}

#post_image {
    position: absolute;
    width: 100%
}

.image_article, .image_wrap_related, .single_image_article {
    position: relative;
    overflow: hidden
}

.post_header_list > h2 {
    color: #212121
}

.post_header_list_related a {
    text-decoration: none;
    color: #212121
}

.post_related {
    height: 160px
}

.post_header_related {
    height: 125px
}

.article_header_related {
    height: 120px;
    padding-top: 40px
}

.image_wrap_related {
    width: 100%;
    height: 160px
}

.post_content-list {
    height: 73px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 30px
}

#read_more, .votes {
    font-weight: 600;
    display: block
}

.post_button {
    width: 140px;
    height: 40px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3);
    border-radius: 20px;
    background-color: #2e6fdd;
    margin-top: 20px;
    margin-left: 30px
}

.post_button a {
    text-decoration: none
}

.post_button_quiz, .post_button_quiz:hover {
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3);
    border-radius: 20px;
    background-color: #2e6fdd;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    padding: 1rem 2rem;
}

.articles_related_quiz {
    width: 100%;
}

#read_more {
    margin: auto;
    padding: 7px 23px;
    color: #fff;
    font-size: 16px
}

.articles_list {
    width: 100%;
    margin: auto
}

.image_article, .v_btn {
    width: 140px;
    border-radius: 20px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 700;
    padding: 1rem 3rem;
    font-size: 16px;
}

#main_page_text {
    background: #fff
}

.v_btn, .v_button_article_single {
    background-color: #2e6fdd;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3)
}

.top_rating_item {
    max-width: 940px;
    color: #333;
    display: block;
    margin: auto;
    padding: 20px 0
}

.product_image_col {
    float: left;
    margin-right: 5%;
    display: block
}

.image_article {
    height: 140px
}

.votes {
    color: #888;
    font-size: 13px;
    line-height: 25px
}

.column_content {
    float: left;
    display: block;
    margin-right: 20px
}

.table_of_content ul {
    width: 200px;
    box-shadow: 0 2px 5px rgba(160, 160, 160, 0.5);
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    display: block;
    left: 3%;
    list-style-type: none;
    z-index: 100;
}

.table_of_content ul a {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    display: block;
}

.table_of_content ul li:hover, .table_of_content ul .active a {
    background-color: #f6f6f9 !important;
}

.table_of_content ul li a:hover {
    text-decoration: none;
    color: #ff0834;
}

.table_of_content ul li.active {
    background-color: #f6f6f9 !important;
}

.table_of_content ul li:before {
    content: '';
    padding-right: 0;
}

.table_of_content ul li {
    border-bottom: 2px solid #dadadb;
    padding: 15px;
    margin: 0 !important;
    display: block;
}

.table_of_content ul li:last-child {
    border-bottom: none;
}

.related_quiz {
    width: 40%;
    margin: 30px 4%;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    height: 470px

}

.image_wrap_related_quiz {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;

}

.post_related_quiz {
    height: 200px
}

#post_image_quiz {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
}

.post_header_list_related_quiz {
    font-size: 19px;
    font-weight: 700;
    line-height: 27px;
    padding: 5px 10px;
    height: 70px;
}

.post_header_list_related_quiz a {
    text-decoration: none;
    color: #212121
}

.post_content_related_quiz {
    height: 130px;
    padding: 0 10px;
    position: relative;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
}

.cell_title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 5px
}

.cell_content, .cell_content span {
    line-height: 25px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: Montserrat, sans-serif !important;
    color: #333 !important
}

.cell_content {
    max-width: 640px
}

#thanks {
    margin: auto;
    font-size: 18px;
    font-weight: 600
}

.green_number, .number_text, .star_rate {
    font-size: 17px;
    font-weight: 600
}

.star_rate {
    color: #fba735;
    display: block;
    margin: 15px auto 0
}

.votes_article {
    display: inline-block !important
}

#total_score, .green_number, .number_text, .stars {
    display: inline-block
}

#total_score {
    margin: 0 3px
}

.green_number {
    line-height: 25px;
    color: #41b43d;
    padding-right: 40px
}

.number_text {
    color: #333;
    line-height: 25px
}

.column_buttons {
    max-width: 200px;
    float: right;
    display: block
}

.v_btn {
    height: 40px;
    margin: auto
}

.v_btn a {
    text-decoration: none
}

#v_button_link {
    display: block;
    margin: auto;
    padding: 9px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600
}

.read_review_btn {
    color: #2e6fdd;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: underline;
    letter-spacing: .05em;
    margin-top: 10px
}

#user_name, .comments_count {
    letter-spacing: .1em;
    text-transform: uppercase
}

.read_review_btn a:visited {
    color: #2e6fdd
}

.article_show {
    color: #333;
    margin: 100px auto 50px
}

#single_article_title {
    text-transform: uppercase;
    font-weight: 700
}

.v_button_article_single {
    margin: 20px auto 20px 0;
    width: 230px;
    height: 60px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    padding: 1rem 7rem;
    text-decoration: none !important;

}

a.v_button_article_single:hover {
    color: #2e6fdd !important;
    background-color: #ffffff;
    border: 2px solid #2e6fdd;
    padding: .8rem 7rem;

}

a#single_page_button:hover {
    padding: .8rem 3.8rem;
}

a.author_main_link:hover, .post_header_list_related a:hover, .author_link a:hover, .author_info a:hover, .post_header_list_related a:hover {
    color: #ff0834;
}

#v_button {
    display: block;
    margin: auto;
    color: #fff;
    padding: 18px 0;
    text-align: center;
}

#single_page_button {
    margin: auto;
    float: none;
    display: block;
    width: 300px;
    padding: 1rem 4rem;
}

.single_image_article {
    width: 220px;
    height: 220px;
    border-radius: 20px
}

#main_image_article {
    position: absolute;
    height: 100%
}

.half, .half:before {
    position: relative;
    top: 1.73px;
}

#single_cell_content {
    height: 200px
}

.date_site_overview_title {
    max-width: 940px;
    color: #333;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    margin: 20px auto
}

.site_overview_text {
    max-width: 940px;
    width: 100%;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px auto
}

.score_title, .total_score {
    color: #212121;
    line-height: 27px
}

.score_block {
    max-width: 780px;
    height: 590px;
    margin: 30px auto 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3);
    border-radius: 10px
}

.content_score {
    padding: 25px 50px;
    display: block
}

.total_score {
    font-size: 19px;
    font-weight: 700
}

.score_tables {
    max-width: 290px;
    width: 100%;
    margin-top: 25px;
    float: left;
    display: block
}

#user_score {
    float: right
}

.score_title {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    display: block
}

.label_title {
    display: block;
    float: left
}

.social_links, .sorters {
    float: right;
    margin: auto
}

.label_number {
    display: block;
    float: right
}

.score_wrapper {
    margin: auto;
    padding-top: 15px;
    display: block
}

.score_name {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px
}

.progress {
    height: 10px;
    border-radius: 5px
}

.progress-bar-success {
    background-color: #43c801
}

.progress-bar-info {
    background-color: #2e6fdd
}

.progress-bar {
    transition-duration: 5s
}

.read_reviews_comments {
    text-align: right;
    margin: auto;
    padding-top: 15px;
    display: block;
    color: #2e6fdd;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px
}

.read_reviews_singles {
    text-decoration: underline;
    display: inline-block
}

.comments_title_wrapper {
    background-color: #fff;
    margin-bottom: 50px
}

.comments_title_content {
    max-width: 940px;
    margin: auto;
    padding: 30px;
    display: block
}

.button_comments, .comments_count, .sorters {
    display: inline-block
}

.comments_count {
    color: #242424;
    font-size: 14px;
    font-weight: 700
}

.button_comments {
    width: 29px;
    height: 24px;
    border-radius: 12px;
    background-color: #ff0834
}

#number_of_comments {
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 7px
}

.social_links {
    display: inline-block !important;
    padding-right: 70px
}

.social_links a img {
    display: inline
}

.sorter_title {
    font-size: 14px;
    line-height: 26px;
    color: #888;
    font-weight: 400;
    text-align: right
}

.active_title {
    color: #333;
    font-weight: 700
}

.comment_single, .comment_single_post {
    width: 100%;
    color: #333;
    font-weight: 400;
    line-height: 26px;
    font-size: 14px
}

.comments_content_wrapper {
    max-width: 940px;
    margin: 30px auto;
    display: block
}

.comment_single {
    max-width: 610px;
    display: inline-block
}

.comment_single_post {
    max-width: 700px;
    padding: 0 30px;
    display: block
}

#date, #user_name {
    line-height: 57px
}

.comments_single_title {
    display: block;
    margin: auto
}

#date, #user_name, .avatar {
    display: inline-block
}

.avatar {
    float: left
}

.avatar img {
    width: 23px;
    height: 23px
}

#user_name {
    color: #242424;
    font-size: 14px;
    font-weight: 700
}

#date, .reply_title {
    font-weight: 400
}

#date {
    color: #9fa3a7;
    font-size: 12px;
    float: right
}

.reply_title, .score_reply {
    color: #333;
    font-size: 14px;
    line-height: 26px
}

.reply_title .half:before, .reply_title .half:after {
    top: 0;
}

.score_reply .half:before, .score_reply .half:after {
    top: 0;
}

.reply_box {
    max-width: 940px;
    display: block;
    margin: auto
}

.leave_reply {
    width: 300px;
    height: 239px;
    background-color: #fff;
    display: inline-block;
    margin: auto;
    float: right
}

#leave_article_reply .leave_reply {
    display: none;
}

.reply_content {
    margin: auto;
    display: block;
    padding: 10px 20px
}

.score_reply {
    font-weight: 700;
    margin-top: 20px
}

.score_reply_title {
    margin: auto;
    float: left
}

.empty_stars {
    display: inline-block;
    float: right;
    margin: auto
}

.empty_stars > span, .reply_title > span, i {
    margin-right: 5px
}

.glyphicon-star {
    color: #fba735
}

.half:before {
    z-index: 9;
    width: 47%;
    display: block;
    overflow: hidden
}

.half:after {
    content: '\e006';
    position: absolute;
    z-index: 8;
    color: #d1d1d1;
    top: 1.73px;
    left: 0
}

.glyphicon-star-empty {
    color: #d1d1d1 !important
}

.blog_view {
    max-width: 780px;
    width: 100%;
    margin: 100px auto 50px
}

.blog_header {
    max-width: 726px;
    width: 100%;
    color: #212121;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    display: block;
    margin: auto;
    text-align: center
}

.blog_image {
    margin: 30px auto;
    width: 780px;
    height: 400px;
    overflow: hidden;
    position: relative
}

#blog_post_image, .footer {
    position: absolute;
    width: 100%
}

.blog_content {
    width: 100%;
    max-width: 780px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px
}

.blog_content ol li {
    margin-left: 15px;
    font-weight: 700
}

.footer a, .footer_nav {
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 400
}

.blog_content .alignnone, .blog_content img {
    margin: auto;
    display: block;
    width: 80%;
}

.footer {
    background-color: #2c2c2c;
    display: block;
    margin: auto
}

.footer a {
    text-decoration: none;
    line-height: 36px
}

.footer_nav {
    line-height: 26px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 50px 42px;
    max-width: 940px
}

#footer_block2, #footer_block3 {
    line-height: 36px;
    float: left;
    width: 100%;
    display: block
}

#footer_block1 {
    max-width: 450px;
    width: 100%;
    float: left;
    display: block;
    margin-right: 5%
}

#footer_block2 {
    max-width: 150px;
    margin-right: 8%
}

#footer_block3 {
    max-width: 140px;
    margin: auto
}

.footer_block_header {
    color: #f7f8f9;
    font-size: 12px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase
}

#copyright, #copyright a {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px
}

#line_article, #line_article2 {
    background-color: #dcdcdc;
    opacity: 1
}

.line {
    width: 100%;
    max-width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: .1
}

#copyright {
    display: block;
    text-align: center;
    color: #afafaf;
    margin: auto;
    padding: 33px;
    bottom: inherit
}

#toTop {
    background: url(/images/toTop.png);
    bottom: 20px;
    right: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: none
}

.likes, .likes_count, .likes_fill {
    display: inline-block
}

#toTop:hover {
    background: url(/images/totopActive.png);
    width: 64px;
    height: 64px
}

.cross, .hamburger {
    border: none;
    width: 27px;
    height: 23px;
    margin-top: 19px;
    float: right;
    margin-right: 15px;
}

.navbar-toggle:hover {
    background-color: #fff
}

.fixed .hamburger {
    background: url(/images/320_menu.svg) center no-repeat
}

.hamburger {
    background: url(/images/burger.svg) center no-repeat
}

.cross {
    background: url(/images/320_close_menu.svg) center no-repeat
}

.likes {
    width: 50px;
    margin: 20px auto
}

.likes_fill {
    background: url(/images/heart_fill.svg) center no-repeat;
    width: 20px;
    height: 25px;
    float: left
}

.likes_count {
    float: right
}

.alignnone, .gallery, iframe {
    display: block;
    margin: auto;
    width: 80%;
}

.valignnone {
    display: block;
    margin: auto;
    width: 50%;
}

.gallery {
    width: 100%
}

iframe {
    width: 90% !important
}

.small_img {
    width: 80px;
    border-radius: 10px;
    height: 60px;
    overflow: hidden;
}

.faq_toggle {
    display: none;
    padding: 25px 25px 0 30px;
}

.toggle_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #333333;
    line-height: 37px;
    font-size: 25px;
    text-align: center;
    float: right;

}

.toggle_icon:after {
    content: '+';
}

.expanded .toggle_icon:after {
    content: '\2212';
}

.faq_click {
    display: inline;
}

.faq_click:hover {
    cursor: pointer;
}

.faq_click:hover h2, .faq_click.expanded h2 {
    color: #ff0834;
}

.faq_click:hover .toggle_icon, .faq_click.expanded .toggle_icon {
    border: 2px solid #ff0834;
    color: #ff0834;
}

.faq_click h2 {
    width: 90%;
    font-size: 26px !important;
}

.faq_click h2, .faq_click .toggle_icon {
    display: inline-block;
}

.faq_block {
    border-bottom: 1px solid #333333;
    padding: 25px 0;
}

.faq_block:last-child {
    border-bottom: none;
}

.latest {
    text-transform: none;
    font-weight: 400;
    font-size: 13px;
    margin: 10px auto;
    opacity: 0.6;
}

.latest_post {
    padding: 0 30px;
    margin: 20px auto;
}

.blog_post_info {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.latest_in_post {
    display: inline-block;
}

.latest_in_post:after {
    content: '\00B7';
    padding-left: 10px;
}

.eta {
    display: inline-block;
    margin-left: 10px;
}

.eta:after {
    content: ' read';
}

.scrollgress {
    top: 90px;
    position: fixed;
    left: 0;
    background: transparent;
    width: 100%;
    height: 5px;
    z-index: 1;
}

.scrollgress__progress {
    float: left;
    background: #ff0834;
    height: 100%;
    width: 0;
}

.latest_related {
    padding: 0 30px;
    color: #212121;
}

.drop {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

a.drop_menu {
    text-decoration: none;
    color: #fff !important;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    text-transform: uppercase;
}
.drop_menu:hover, .drop:hover .drop_menu {
    color: #ff0834 !important;
}

a.drop_menu:after {
    content: url(/images/menuDown.svg);
    width: 8px;
    height: 5px;
    display: inline-block;
    padding-left: 6px;
    position: relative;
    bottom: 1px;
}

.drop.expanded a.drop_menu:after{
    content: url(/images/menuUp.svg);
    padding-left: 6px;
    bottom: 1px;
}

a.drop_menu:hover:after, .drop:hover .drop_menu:after, .header.fixed .drop_menu:hover:after {
    content: url(/images/menuDownRed.svg);
    bottom: -5px;
    padding-left: 2px;
}

.drop.expanded:hover a.drop_menu:after, .drop.expanded a.drop_menu:hover:after, .header.fixed .drop.expanded .drop_menu:hover:after, .header.fixed .drop.expanded:hover .drop_menu:after {
    content: url(/images/menuUpRed.svg);
    padding-left: 6px;
    bottom: 1px;
}

.header.fixed .drop_menu:after {
    content: url(/images/menuDownBlack.svg);
    bottom: -5px;
    padding-left: 2px;
}

.header.fixed .drop.expanded .drop_menu:after{
    content: url(/images/menuUpBlack.svg);
}

.dropdown_content {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    width: 250px;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
}

.dropdown_content a {
    width: 100%;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 20px;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.dropdown_content a:last-child {
    border-bottom: none;
}

.dropdown_content a:hover, .header.fixed .dropdown_content a:hover {
    color: #41b43d !important;
}

.report_corrections_block {
    display: flex;
    margin: 200px auto;
}

.report_corrections_block .contact_textblock {
    max-width: 400px;
    display: inline-block;
}

.report_corrections_block .contact_form {
    display: inline-block;
}

.report_user_name {
    width: 100%;
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #dedede;
    margin-top: auto;
    background: #fff;
    margin-bottom: 15px;
    padding: 0 15px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.report_user_name:focus, .report_corrections_block #message_contact:focus {
    border-color: #2e6fdd;
}

.report_user_name::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.report_corrections_block #message_contact {
    margin-bottom: 15px;
}

input[type=file].report_user_file {
    display: none !important;
}

.user_image_label {
    width: 100%;
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    height: 56px;
    border-radius: 5px;
    border: 1px solid #dedede;
    margin-top: auto;
    background: #fff;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.user_image_label i.material-icons {
    vertical-align: middle !important;
}

.g-recaptcha iframe {
    width: 100% !important;
}

.blog_content h2, .blog_content h3, .blog_content h4, .site_overview_text h2, .site_overview_text h3, .site_overview_text h4 {
    margin: 30px auto 15px auto !important;
}

@media (min-width: 1325px) and (max-width: 1440px) {
    .related_posts {
        width: 78%
    }

    .card_quiz.col.s9 {
        width: 83% !important;
    }

    .card_quiz.col.s3 {
        width: 25% !important;
    }

    .relatedQuizzes {
        width: 25%;
        right: 0;
    }

    .small_img {
        height: 40px;
        margin-top: 10px;
    }

    .small_img.col.s3 {
        width: 20% !important;

    }

    .table_of_content ul {
        left: 1%;
    }
}

@media (min-width: 1025px) and (max-width: 1326px) {
    .related_posts {
        width: 78%
    }

    .card_quiz.col.s9 {
        width: 83% !important;
    }

    .card_quiz.col.s3 {
        width: 25% !important;
    }

    .relatedQuizzes {
        width: 25%;
        right: 0;
    }

    .small_img {
        height: 40px;
        margin-top: 10px;
    }

    .small_img.col.s3 {
        width: 20% !important;

    }

    .table_of_content ul {
        left: 1%;
    }

    .article_show.container {
        width: 830px !important;
    }

    .cell_content {
        max-width: 480px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header_image {
        background: url(/images/1024_main_photo.jpg) no-repeat #fff;
        background-size: cover;
        height: 100%
    }

    .relatedQuizzes {
        display: none;
    }

    .card_quiz.col.s9 {
        width: 100% !important;
        display: block;
        margin: auto;
    }

    .card_quiz.col.s9.left {
        float: none !important;
    }

    .blog_content.right {
        float: none !important;
        padding: 0 !important;
        display: block;
        margin: auto;
    }

    .leave_reply {
        margin-bottom: 30px
    }

    #navbar-main {
        margin: auto
    }

    .related_posts {
        width: 100%
    }

    .related, .related_article {
        margin: 1% 1% 3%
    }

    .logo, .header_link {
        float: none;
    }

    .header_link {
        padding-top: 0
    }

    .header {
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    #main_title > h1, .cat_desc > h1 {
        text-transform: uppercase
    }

    .relatedQuizzes {
        display: none;
    }

    .card_quiz.col.s9 {
        width: 100% !important;
        display: block;
        margin: auto;
    }

    .table_of_content {
        float: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        display: inline-block;
        max-width: 250px;
        padding: 15px;
    }

    .table_of_content ul {
        width: auto;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        margin-top: 0;
        position: relative !important;
        display: block;
        left: 0;
        top: 0 !important;

    }

    .table_of_content ul li:before {
        content: url(/images/ellipse.png) !important;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        display: -webkit-box;
    }

    .table_of_content ul a {
        color: #337ab7;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        display: inline-block;
    }

    .table_of_content ul a:hover {
        color: #ff0834;
        text-decoration: none;
    }

    .table_of_content ul li:hover, .table_of_content ul .active a {
        background-color: transparent !important;
    }

    .table_of_content ul li.active {
        background-color: transparent !important;
    }

    .table_of_content ul li {
        border-bottom: none;
        padding: 0;
        margin: 0 !important;
        display: -webkit-box;
    }

    .card_quiz.col.s9.left {
        float: none !important;
    }

    .blog_content.right {
        float: none !important;
        padding: 0 !important;
        display: block;
        margin: auto;
    }

    .header_link > a, a.drop_menu {
        font-size: 9.5px;
        padding: 15px 10px;
    }

    .header_image {
        background: url(/images/768_main_photo.jpg) no-repeat #fff;
        background-size: cover;
        height: 100%
    }

    .heer_linkad > a {
        padding: 15px 2px
    }

    .cat_desc {
        max-width: 510px;
        width: 95%;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0
    }

    .cat_desc > h1 {
        max-width: 500px;
        width: 95%;
        font-size: 18px !important;
        font-weight: 700 !important;
        line-height: 25px !important;
        margin-bottom: 10px !important
    }

    .alignnone {
        width: 90%;
    }

    .valignnone {
        width: 70%;
    }

    .image_wrap {
        width: 740px
    }

    .cell_content {
        max-width: 400px;
        display: block;

    }

    .navbar-nav {
        float: right
    }

    .contact_block {
        padding: 0 150px
    }

    .post_comment {
        padding: 0
    }

    #main_title > h1 {
        max-width: 500px;
        width: 95%;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px
    }

    #main_title_text {
        max-width: 510px;
        width: 95%;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        padding-top: 10px
    }

    #footer_block1 {
        max-width: 300px
    }

    #but_learn {
        margin: 5px auto 50px
    }

    .footer_nav, .read_reviews_comments {
        margin: auto
    }

    .header_image a {
        width: 290px;
        height: 50px
    }

    .header_image a #learnmore {
        display: block;
        padding: 15px 55px
    }

    .top_rating_item {
        width: 95%
    }

    .footer_nav {
        padding: 20px 20px 40px
    }

    #copyright {
        padding: 20px
    }

    .score_block {
        height: 1085px
    }

    .date_site_overview_title, .site_overview_text {
        width: 100%;
        margin: auto
    }

    .comment_single {
        float: none
    }

    .score_tables {
        width: 100%
    }

    .blog_list {
        font-size: 30px;
        font-weight: 600;
        line-height: 35px
    }

    #title {
        text-align: center
    }

    #v_button_link {
        padding: 12px 33px
    }

    .blog_post_small {
        width: 740px;
        padding-bottom: 20px;
        margin: 30px auto
    }

    .post {
        height: 240px
    }

    .navbar-collapse {
        float: none !important
    }

    #user_score {
        float: none
    }

    .score_tables {
        float: none;
        max-width: none
    }

    .read_reviews_comments {
        text-align: left
    }

    .comments_title_content {
        padding: 30px
    }

    .contact_block {
        margin-top: 50px
    }

    .post_container {
        width: 100%;
        margin: auto
    }

    .comment_single {
        max-width: 430px;
        width: 100%
    }

    .contact_form, .contact_form #message_contact, .contact_form .input_form {
        width: 410px !important;
        float: none
    }

    .contact_form {
        display: inline-block;
        margin: auto
    }

    .contact_form .user_name {
        width: 75% !important
    }

    .column_content {
        float: left;
        display: block;

    }

    iframe {
        height: 400px
    }

    .blog_content .alignnone {
        margin: auto;
        display: block;
        width: auto
    }

    .related, .related_article {
        margin: 1% 20% 5%;
        width: 60%;
    }

    .related_posts {
        width: 95%
    }

    .articles_related {
        display: inline
    }

    .blog_image {
        width: 740px
    }

    .relatedLast {
        display: none !important
    }

    .related_quiz {
        width: 45%;
        margin: 30px 2%;

    }

    .logo, .header_link {
        float: none;
    }

    .header_link {
        padding-top: 0
    }

    .header {
        padding-bottom: 20px;
    }

    .report_corrections_block {
        display: block;
        margin-top: 100px;
    }

    .blog_view {
        margin-top: 130px;
    }

    .scrollgress {
        top: 110px;
    }
}

@media (max-width: 580px) {

    .content_main {
        padding: 50px 20px;
    }

    #main_title > h1, .category_header {
        padding-top: 65px
    }

    .related_quiz {
        width: 91%;
        margin: 30px 4%;

    }

    #single_page_button {
        padding: 0.5rem 4rem;
    }

    #disqus_thread {
        width: 90%;
    }

    .col.s3.image_author {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .col.s9.author_info {
        width: 100% !important;
    }

    .header_link > a {
        font-size: 18px;
    }

    .header_image {
        background: url(/images/320_main_photo.jpg) no-repeat #fff;
        background-size: cover;
        height: 100%
    }

    .hide_on_mobile {
        display: none !important
    }

    .hide_on_large {
        display: block
    }

    .a2a_kit img {
        width: 70px
    }

    #main_title > h1 {
        padding-bottom: 0
    }

    #main_title_text {
        padding-top: 0
    }

    .sorters {
        float: none;
        text-align: justify
    }

    .v_button_article_single {
        margin: auto;
        width: 290px;
        height: 60px;
        box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3);
        border-radius: 30px;
        background-color: #2e6fdd
    }

    #v_button {
        padding: 13px 0;
        text-align: center;
    }

    .image_article, .single_image_article {
        width: 290px;
        height: 150px
    }

    .v_btn {
        width: 290px;
        height: 50px;
        border-radius: 25px;
        margin: 10px auto;
        padding: .7rem 10rem;
    }

    #footer_block3 {
        float: none;
        width: 100%;
        max-width: none
    }


    #but_learn {
        margin: 5px auto
    }

    .column_buttons {
        float: none
    }

    .blog_post_small {
        width: 290px;
        min-height: 410px;
        padding-bottom: 20px;
        margin: 30px auto;
    }

    .related {
        height: 400px;
    }

    .post_header_list > h2, .post_header_list_related {
        padding: 15px;
    }

    .author_link {
        text-align: center;
        margin-top: 10px;

    }

    .author_link a {
        padding-left: 0;
    }

    .blog_image, .image_wrap {
        width: 290px;
        height: 150px
    }

    .post {
        height: 150px
    }

    .post_button {
        margin: 20px auto;
        width: 250px;
        height: 40px
    }

    .contact_form {
        display: inline-block;
        margin: auto;
        width: 290px !important;
        float: none
    }

    #contact_submit_article, .blog_reply #message_contact {
        display: block
    }

    .input_contact {
        width: 100%
    }

    .contact_form #message_contact, .contact_form .input_form {
        width: 290px !important;
        float: none
    }

    .contact_form .user_name {
        width: 84% !important
    }

    .blog_reply #message_contact, .blog_reply .input_form {
        width: 290px !important;
        margin: auto;
        float: none
    }

    .blog_reply .user_name {
        width: 84% !important
    }

    #contact_submit, #contact_submit_article {
        width: 290px;
        height: 50px;
        box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .3);
        border-radius: 25px;
        background-color: #2e6fdd
    }

    .leave_reply {
        float: none;
        margin-bottom: 30px;
        max-width: 290px;
        display: block !important
    }

    .reply_box {
        max-width: 290px;
        margin: auto
    }

    .post_header_list > h2 {
        height: 100px;
        text-align: center
    }

    #image_single_article, #main_image_article {
        height: auto;
        width: 100%
    }

    #read_more {
        padding: 7px 76px
    }

    .column_content {
        float: left;
        display: block
    }

    .top_rating_item {
        max-width: 300px;
        width: 100%
    }

    .green_number {
        text-align: center;
        display: inline-block;
        float: left;
        padding-right: 0
    }

    .green_2 {
        float: right
    }

    .number_text {
        display: block
    }

    .main_stars, .small_stars, .small_votes {
        display: inline-block
    }

    .rates {
        width: 300px
    }

    .main_stars {
        width: 100%
    }

    .small_votes {
        float: right;
        margin-top: 15px
    }

    .small_stars {
        float: left
    }

    .contact_block {
        padding: 10px
    }

    .social_links {
        padding: 20px 0 0;
        float: none
    }

    iframe {
        height: 160px
    }

    .blog_content img {
        margin: auto;
        display: block;
        width: 90%
    }

    .blog_content .alignnone {
        height: auto
    }

    .top_choice {
        left: -10px
    }

    .articles_related {
        display: block
    }

    .related_posts {
        width: 95%
    }

    .related, .related_article {
        margin: 30px auto;
        display: block;
        width: 100%
    }

    .navbar-nav {
        float: left;
        text-align: left
    }

    .header_link1 {
        height: 100vh;
        text-align: center;
        width: 100%;
        float: left;
        padding-top: 20px;
        background: #ffffff;
    }

    .header_link1 a {
        display: block;
        margin: auto;
        text-align: left;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px;
        color: #333333 !important;

    }

    .logo {
        float: left;
        padding: 0 !important;
        top: 18px;
        left: 15px;
        position: relative;
        width: 160px;
        height: 23px;
        background-size: contain !important;
    }

    .header {
        padding: 0;
        height: 60px;
    }

    .faq {
        padding: 20px;
    }

    .faq .page_header {
        margin-top: 60px;
    }

    .faq .page_header h1 {
        font-size: 24px !important;
    }

    .faq_click h2 {
        font-size: 20px !important;
        width: 80%;
    }

    .faq_toggle {
        padding: 20px 10px 0 10px;
    }

    .latest_post, .latest_related {
        padding: 0;
        text-align: center;
    }

    .report_corrections_block {
        margin: 50px auto;
    }

    .report_corrections_block h1 {
        font-size: 30px !important;
    }

    .blog_list, .blog_view, .article_show {
        margin-top: 80px;
    }

    .scrollgress {
        top: 60px;
    }

    .first_content_header, .contact_block, .page_header {
        margin-top: 30px;
    }

}

@media (max-width: 320px) {
    .content_main {
        padding: 50px 5px;
    }

}

.gallery dl {
    width: 33%;
    float: left;
}

.gallery img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}
